<div class="row">
    <div class="twelve columns">
        <div class="panel">
          <i><%= Quote.all.sample().content %></i>
        </div>
        <h4><%= @user.name %> has completed <%= @user.reps.sum(:count).to_i %> reps.</h4>
        <table class="twelve">
          <thead>
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Weight</th>
              <th>Reps</th>
              <th>Cumulative Weight</th>
            </tr>
          </thead>
          <tbody>
            <% @reps.each do |r| %>
                <tr>
                  <td><%= r.created_at.strftime("%a %b %d") %></td>
                  <td><%= r.lift.name %></td>
                  <td><%= r.weight %></td>
                  <td><%= r.count %></td>
                  <td><%= r.total_weight %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>