<div class="row">
  <div class="twelve columns">
    <% if user_signed_in? %>
      <div class="row">
          <div class="twelve columns">
            <%= @script.try(:html_safe) %>
            <h4><%= link_to @user.username, @user %> is a champion.</h4>
            <p>Happy <%= Date.today.strftime("%A") %>.  What have you conquered today?</p>
            <p>
              <%= form_tag controller: 'home', action: 'track' do %>
                <%= label_tag :name %>
                <%= autocomplete_field_tag :name, '',home_autocomplete_lift_name_path %>
                <%= label_tag "weight (lbs)" %>
                <%= text_field_tag :weight %>
                <%= label_tag "reps" %>
                <%= text_field_tag :count %>
                <%= submit_tag "Win the day", class: "button" %>
              <% end %>
            </p>
          </div>
      </div>
      <h5>Unique lifts</h5>
      <table class="twelve">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Weight</th>
            <th>Reps</th>
            <th>Cumulative Weight</th>
          </tr>
        </thead>
        <tbody>
          <% @reps.each do |r| %>
            <tr>
              <td><%= r.lift.name %></td>
              <td><%= r.weight %></td>
              <td><%= r.count %></td>
              <td><%= r.total_weight %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      Please <%= link_to 'log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %>
    <% end %>
  </div>
</div>