<div class="row">
    <div class="twelve columns">
        <h3>Data for Ben Shyong</h3>
        <div class="panel radius">
            Energy expended and cumulative weight lifted.
        </div>
    </div>
</div>
<div class="row panel radius">
    <div class="six columns">
        Total weight: <%= @total_weight %>
    </div>
    <div class="six columns">
        Total energy: X
    </div>
</div>

<div class="row">
    <table class="twelve">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Weight</th>
      <th>Reps</th>
      <th>Cumulative Weight</th>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |r| %>
    <tr>
      <td><%= r[0] %></td>
      <td><%= r[1] %></td>
      <td><%= r[2] %></td>
      <td><%= r[3] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>